<div class="film__img-wrap">
  <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="modal__img" class="film__img">
</div>
<div class="film__content-wrap">
  <h3 class="film__title">{{original_title}}</h3>
  <div class="film__info-wrap">
    <ul class="film__info-list list">
      <li class="film__info-item">
        <p class="film__info-title">Vote / Votes</p>
        <p class="film__info-vote"><span class="js-vote">{{vote_average}}</span>&nbsp;/&nbsp;<span>{{vote_count}}</span>
        </p>
      </li>
      <li class="film__info-item">
        <p class="film__info-title">Popularity</p>
        <p class="film__info-popularity">{{popularity}}</p>
      </li>
      <li class="film__info-item">
        <p class="film__info-title">Original Title</p>
        <p class="film__info-movie-name">{{original_title}}</p>
      </li>
      <li class="film__info-item">
        <p class="film__info-title">Genre</p>
        <ul class="film__info__genre-list list">
          {{#each genre_ids}}
          <li class="film__info__genre-item">{{this}}<span>,&nbsp;</span></li>
          {{/each}}
      </li>
    </ul>
  </div>
  <p class="film__description-title">About</p>
  <p class="film__description">{{overview}}</p>
  <div class="film__btn-box">
    <button type="button" class="button film__btn js-watched" id="watchedModalBtn" data-watched="addToList">add to
      Watched</button>
    <button type="button" class="button film__btn js-queue" id="queueModalBtn" data-queue="addToList">add to queue</button>
  </div>
</div>
<button class="film__close-btn" type="button">
  <span class="material-icons film__icon-close" id="close"> clear </span>
</button>